<div class="row">
<div class="page_id">
	<div class="space"></div>	
	<i class="fa fa-map-marker"></i>
	<span class="page_id_blue">Messaging</span>&nbsp;>&nbsp;Discussions
</div>
<div class="container page_content">
	<h2>Discussions</h2>
	<div ng-app="" class="page_left">
		<div ng-include="'template/page-left/page_left.html'"></div>
	</div>
	<div ng-app="" class="page_right">
		<div ng-include="'template/page-right/page_right.html'"></div>
	</div>	
</div>
<div class="page_option">
	<div class="setting"><a href="#"><i class="fa fa-wrench"></i></a></div>
	<div class="setting"><a href="#"><i class="fa fa-plus"></i></a></div>
</div>
</div>
