<div class="menu row">
	<div class="logo">
		<a href="#">Logo goes here</a>
	</div>
	<div class="menu_right">
		<ul>
			<li class="alarm">
				<a href="#"><i class="fa fa-bell"></i></a>
			</li>
			<li class="search">
				<a href="#"><i class="fa fa-search"></i></a>
			</li>
			<li class="help">
				<a href="#"><i class="fa fa-question-circle"></i></a>
			</li>
			<li class="user_img"><img src="../img/user.png"></li>
		</ul>
	</div>
	<div class="menu_items">
		<ul>
			<li>
				<a href="#">Contacts</a>
			</li>
			<li>
				<a href="#">Events</a>
			</li>
			<li>
				<a href="#">Messaging</a>
			</li>
			<li>
				<a href="#">Documents</a>
			</li>
			<li>
				<a href="#">Sales</a>
			</li>
			<li>
				<a href="#">Support</a>
			</li>
			<li>
				<a href="#">Projects</a>
			</li>
			<li>
				<a href="#">Finances</a>
			</li>
			<li>
				<a href="#">Reporting</a>
			</li>
		</ul>
	</div>	
</div>
