<div class="nav_top">
	<div class="nav_mark">
		<img src="../../img/mark.png">
	</div>
	<div class="nav_title">
		<span>New Integrate with Google Apps Button</span>
	</div>
	<div class="nav_end"><a href="#"><i class="fa fa-minus-square"></i></a></div>
</div>
<div class="nav_list">
	<div class="nav_list_mark">
		<img src="../../img/mark-1.png">&nbsp;>&nbsp;<img src="../../img/mark-1.png">&nbsp;>&nbsp;<img src="../../img/mark-2.png">&nbsp;>&nbsp;<img src="../../img/mark-3.png">
	</div>
	<div class="nav_list_title">
		<span>Parent Activity Title</span>
	</div>
	<div class="nav_option">
		<span>Stage Name</span>
	</div>
</div>